body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 113, 113);
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  max-width: 1080px;
  height: 100%;
  margin: 50px auto;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;

  .content {
    padding: 60px;
    .contentTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .searchBlock {
      display: flex;
      padding: 0 15px;

      input {
        border: none;
        font-size: 16px;
        padding: 13px;
        width: 200px;
      }

      border: 1px solid #f3f3f3;
      border-radius: 10px;
    }

    .sneakers {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
    }

    h1 {
      margin-bottom: 40px;
    }
  }
}
